<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!-- SQL Server Connection String -->
    <add key="ConnectionString" value="Server=sadcoursegroup3.database.windows.net,1433;Database=sadcourse3;User Id=sqladmingroup3;Password=Kb22Ag23Sb25;TrustServerCertificate=true;Encrypt=true;" />
  </appSettings>
</configuration>
